{% extends 'base.html.twig' %}

{% block h1 %}Veuillez entrer vos informations de connexion{% endblock %}

{% block body %}
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card CardLogin" style="border-radius: 15px;">
                <div class="card-body p-5 ">
                    <form method="post">
                    
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                Vous êtes déjà connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">déconnexion ?</a>
                            </div>
                        {% endif %}

                        <label for="inputPseudo">Pseudo</label>
                        <input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" autocomplete="username" required autofocus>
                        <label for="inputPassword" class="mt-4">Mot de pass</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="text-right">
                            <button class="btn btn-lg btn-primary mt-5" type="submit">
                                Connexion
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}





