{% extends 'base.html.twig' %}

{% block title %}Liste des Produits{% endblock %}

{% block h1 %}
Liste des Produits
{% endblock %}

{% block body %}


<table class="table table-striped">

    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Référence</th>
            <th>Catégorie</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Photo</th>
            <th>Prix</th>
            <th>Stock</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for produit in produits %}
            <tr>
                <td class="align-middle">{{ produit.id }}</td>
                <td class="align-middle">{{ produit.reference }}</td>
                <td class="align-middle">{{ produit.categorie }}</td>
                <td class="align-middle">{{ produit.titre }}</td>
                <td class="align-middle">{{ produit.description }}</td>
                <td>
                    <img src="{{ image_path ~ produit.photo }}" alt="image manquante" class="miniature">
                </td>
                <td class="align-middle">{{ produit.prix }}</td>
                <td class="align-middle">{{ produit.stock }}</td>
                <td class="text-center">
            <a href="{{ path('app_admin_produit_show', {'id': produit.id}) }}"><i class="fa fa-eye"></i> Afficher</a>
            <hr>
            <a href="{{ path('app_admin_produit_edit', {'id': produit.id}) }}"><i class="fa fa-edit"></i> Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="text-right">
    <a class="btn btn-primary" href="{{ path('app_admin_produit_new') }}">Creer un nouveau produit</a>
</div>


{% endblock %}
