{% extends 'base.html.twig' %}

{% block h1 %}Liste des clients{% endblock %} 

{% block body %}

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="align-middle">Id</th>
                <th class="align-middle">Pseudo</th>
                <th class="align-middle">Rôles</th>
                <th class="align-middle">Email</th>
                <th class="align-middle">Nom</th>
                <th class="align-middle">Prenom</th>
                <th class="align-middle">Civilité</th>
                <th class="align-middle">Adresse</th>
                <th class="align-middle">Telephone</th>
                <th class="align-middle">Code postal</th>
                <th class="align-middle">Ville</th>
                <th class="align-middle">Pays</th>
                <th class="align-middle">Nb commandes</th>
                <th class="align-middle">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %} 
            <tr>
                <td class="align-middle">{{ client.id }}</td>
                <td class="align-middle">{{ client.pseudo }}</td>
                <td class="align-middle">{{ client|autorisations }}</td>
                <td class="align-middle">{{ client.email }}</td>
                <td class="align-middle">{{ client.nom }}</td>
                <td class="align-middle">{{ client.prenom }}</td>
                <td class="align-middle">{{ client|civilite }}</td>
                <td class="align-middle">{{ client.adresse }}</td>
                <td class="align-middle">{{ client.telephone }}</td>
                <td class="align-middle">{{ client.codePostal }}</td>
                <td class="align-middle">{{ client.ville }}</td>
                <td class="align-middle">{{ client.pays }}</td>
                <td class="align-middle">{{ client.commandes|length }}</td>
                <td class="text-center">
                    <a href="{{ path('app_admin_client_show', {'pseudo': client.pseudo}) }}">
                        <i class="fa fa-eye"></i>Afficher
                    </a>
                    <hr>
                    <a href="{{ path('app_admin_client_edit', {'id': client.id}) }}">
                        <i class="fa fa-edit"></i> Modifier
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Aucun client enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-right">
        <a href="{{ path('app_admin_client_new') }}" class="btn btn-primary">
            <i class="fa fa-plus"></i> Ajouter un client
        </a>
    </div>

{% endblock %}
