{% extends 'base.html.twig' %}

{% block h1 %}Liste des clients{% endblock %} 

{% block body %}

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Rôles</th>
                <th>Email</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Civilité</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Nb commandes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %} 
            <tr>
                <td id="tdListeClient">{{ client.id }}</td>
                <td id="tdListeClient">{{ client.pseudo }}</td>
                <td id="tdListeClient">{{ client|autorisations }}</td>
                <td id="tdListeClient">{{ client.email }}</td>
                <td id="tdListeClient">{{ client.nom }}</td>
                <td id="tdListeClient">{{ client.prenom }}</td>
                <td id="tdListeClient">{{ client|civilite }}</td>
                <td id="tdListeClient">{{ client.adresse }}</td>
                <td id="tdListeClient">{{ client.codePostal }}</td>
                <td id="tdListeClient">{{ client.ville }}</td>
                <td id="tdListeClient">{{ client.commandes|length }}</td>
                <td id="tdListeAction2">
                    <a href="{{ path('app_admin_client_show', {'pseudo': client.pseudo}) }}">
                        <i class="fa fa-eye"></i>Afficher
                    </a>
                    <hr>
                    <a href="{{ path('app_admin_client_edit', {'id': client.id}) }}">
                        <i class="fa fa-edit"></i> Modifier
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Aucun client enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-right">
        <a href="{{ path('app_admin_client_new') }}" class="btn btn-primary">
            <i class="fa fa-plus"></i> Ajouter un client
        </a>
    </div>

{% endblock %}
