{% extends 'base.html.twig' %}

{% block h1 %}Liste des commandes{% endblock %}

{% block body %}

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Client</th>
                <th>Montant</th>
                <th>Date_enregistrement</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td id="tdListeCommande">{{ commande.id }}</td>
                <td id="tdListeCommande">{{ commande.client.pseudo }}</td>
                <td id="tdListeCommande">{{ commande.montant }} €</td>
                <td id="tdListeCommande">{{ commande.dateEnregistrement ? commande.dateEnregistrement|date('d/m/Y H:i:s') : '' }}</td>
                <td id="tdListeCommande">{{ commande.etat }}</td>
                <td id="tdListeAction3">
                    <a href="{{ path('app_admin_commande_show', {'id': commande.id}) }}"><i class="fa fa-eye"></i> Afficher</a>
                    <hr>
                    <a href="{{ path('app_admin_commande_edit', {'id': commande.id}) }}"><i class="fa fa-edit"></i> Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-right">
        <a class="btn btn-primary" href="{{ path('app_admin_commande_new') }}">Creer une nouvelle commande</a>
    </div>
{% endblock %}
